@import url(components/header.css);
@import url(components/card.css);
@import url(components/project.css);
@import url(components/skills.css);
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  color: #707070;
}
.space {
  margin-top: 3rem;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #568744;
  margin-top: 10rem;
}
.footer-content__headline--color {
  margin-left: 25px;
  color: #fff;
}
.footer-content__span--fontweight {
  font-weight: 600;
}
