* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}
h1 {
    margin-top: 1rem;
  color: green;
}
nav {
  font-size: 22px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 25px;
  color: #75d979;
}
nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #20232a;
}
.box-topleft {
  margin: 15px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #75d979;
}
img {
  width: 200px;
  background-size: contain;
}
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #20232a;
  position: absolute;
  box-shadow: 1px 5px 2px 3px #75d979;
}
main,
footer {
  margin-left: 16rem;
}
