@import url(components/header.css);
@import url(components/card.css);
@import url(components/project.css);
@import url(components/skills.css);
@import url(components/darkmode.css);

:root {
  --primary-text-color:#707070;
  --secondary-text-color: #568744;
  --primary-background-color: #fbfbfb;
  --white: #fff;
  --secondary-background-color: #20232a;
  --secondary-background-color__dark: #191b21;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  color: var(--primary-text-color);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--secondary-text-color);
  margin-top: 10rem;
}
.footer-content__headline--color {
  margin-left: 25px;
  color: var(--white);
}
.footer-content__span--fontweight {
  font-weight: 600;
}

@media (min-width: 440px) {
  .footer-content {
    flex-direction: column;
  }
}
@media (min-width: 945px) {
  .footer-content {
    flex-direction: row;
  }
}
