* {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h1, p {
  color: #707070;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFB;
  width: 100%;
  height: 930px;
}
nav > img {
  margin-left: 1.5rem;
  width: 6%;
}
header .navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 5rem;
  width: 75%;
  height: 85px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.boxed {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
}
article {
  display: flex;
  flex-direction: column;
  width: 35%;
}
article > span {
  font-size: 19px;
  font-weight: 500;
  padding: 10px 0;
  color: #568744;
}
h1 {
  font-size: 36px;
}
article > h1 {
  padding-bottom: 10px;
}
article span {
  color: #568744;
  font-weight: 600;
}
article p {
  font-size: 20px;
  margin: 5px 0;
}
.boxImg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}
.information {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 5rem;
  font-size: 19px;
}

.information h2 {
  color:#568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.info-box {
  width: 525px;
  height: 215px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}
.contact-box {
  width: 525px;
  height: 215px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}
span {
font-weight: 600;
}
.date {
  margin-top: 1.5rem;
  color: #568744;
}
.text-green {
  color: #568744;
  text-align: left;
}
.center {
  text-align: center;
  margin-top: -15px;
  padding-bottom: 20px;
}