.information-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
  font-size: 19px;
}
.information-card__headline {
  color: #568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.information-card__content {
  padding: 40px;
  margin-bottom: 2rem;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  min-height: 250px;
  min-width: 395px;
}
.information__cards--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.information-card__paragraph--color {
  font-weight: 600;
  margin-top: 1.5rem;
  color: #568744;
}
.information-card__span--fontweight {
  font-weight: 600;
}
.contact-card {
  padding: 40px;
  margin-bottom: 2rem;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
  min-height: 250px;
  min-width: 395px;
}
.contact-card__headline {
  color: #568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.contact-card__paragraph--center {
  margin-top: -15px;
  padding-bottom: 20px;
}
.contact-card__span--fontweight {
  font-weight: 600;
}

@media (min-width: 500px) {
  .contact-card {
    min-width: 460px;
  }
}
@media (min-width: 900px) {
  .information__cards--flex {
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .contact-card {
    margin-left: 5rem;
  }
}
