.information-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 19px;
}
.information-card__headline {
  color: #568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.information-card__content {
  width: 350px;
  height: 280px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
.information-card__paragraph--color {
  font-weight: 600;
  margin-top: 1.5rem;
  color: #568744;
}
.information-card__span--fontweight {
  font-weight: 600;
}
.contact-card {
  margin-top: 1rem;
  width: 350px;
  height: 280px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
.contact-card__headline {
  color: #568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.contact-card__paragraph--center {
  margin-top: -15px;
  padding-bottom: 20px;
}
.contact-card__span--fontweight {
  font-weight: 600;
}
