.person-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
  width: 100%;
  padding-bottom: 5rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
}
.person-section__navbar {
  display: flex;
  align-items: center;
  background-color: var(--white);
  margin-top: 3rem;
  width: 100%;
  height: 85px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
.person-section__button--position {
  position: relative;
  width: 60%;
}
.person-section-navbar__button {
  position: absolute;
  right: 25px;
  top: -17px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  color: var(--white);
  background-color: var( --secondary-background-color);
}
.person-section-navbar__button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--secondary-text-color);
    transition: .25s;
}
.person-section__img {
  margin-left: 1.5rem;
  width: 6%;
}
.person-section__name {
  font-size: 19px;
  font-weight: 300;
  padding: 10px 0;
  color: var(--secondary-text-color);
}
.person-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.person-section__article {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 2rem;
}
.person-section__headline {
  font-size: 26px;
  padding-bottom: 10px;
}
.person-section__span--color {
  color: var(--secondary-text-color);
  font-weight: 800;
}
.person-section__paragraph--color {
  font-size: 18px;
  margin: 5px 0;
}
.person-section__content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
@media (min-width: 800px) {
  .person-section__button--position {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .person-section__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .person-section__article {
    width: 30%;
    margin-top: 2rem;
  }
  .person-section__content-img {
    margin-left: 13rem;
  }
  .person-section__navbar {
    width: 70%;
  }
  .person-section__button--position {
    width: 80%;
  }
}
