.person-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfb;
  width: 100%;
  padding-bottom: 5rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
}
.person-section__navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 3rem;
  width: 100%;
  height: 85px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
.person-section__img {
  margin-left: 1.5rem;
  width: 6%;
}
.person-section__name {
  font-size: 19px;
  font-weight: 300;
  padding: 10px 0;
  color: #568744;
}
.person-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.person-section__article {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 2rem;
}
.person-section__headline {
  font-size: 26px;
  padding-bottom: 10px;
}
.person-section__span--color {
  color: #568744;
  font-weight: 800;
}
.person-section__paragraph--color {
  font-size: 18px;
  margin: 5px 0;
}
.person-section__content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
@media (min-width: 1100px) {
  .person-section__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .person-section__article {
    width: 30%;
    margin-top: 2rem;
  }
  .person-section__content-img {
    margin-left: 13rem;
  }
  .person-section__navbar {
    width: 70%;
  }
}
