@media (min-width: 548px) {
  .project-section {
    margin-bottom: 20rem;
  }
  .project-card {
    margin-top: 25rem;
    height: 100px;
  }
  .project-section__headline--space {
    margin-bottom: 3rem;
    color: red;
  }
}
@media (min-width: 720px) {
  .project-section {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 20rem;
  }
  .project-card {
    height: 100px;
  }
  .project-section__headline--space {
    color: blue;
  }
}
@media (min-width: 900px) {
  .project-card {
    max-width: 60%;
    height: 200px;
  }
  .project-section__headline--space {
    margin-bottom: 3rem;
    color: green;
  }
}
@media (min-width: 1400px) {
  .project-card {
    flex-direction: row;
    max-width: 40%;
    height: 200px;
  }
  .project-section__headline--space {
    margin-bottom: 3rem;
    color: yellow;
  }
}
.project-section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.project-section__headline--space {
  margin-bottom: 3rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-size: 19px;
}
.project-content {
  height: 390px;
  padding: 40px;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);
}
.project-content__headline--color {
  color: #568744;
  margin-bottom: 25px;
  font-size: 24px;
}
.project-content__span--fontweight {
  font-weight: 600;
}
.project-content__paragraph--fontsize {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-section__link--positioning {
  padding: 15px;
  margin-top: 10rem;
}
