.project-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.project-section__headline--space {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}
.project-content {
  align-items: center;
  padding: 40px;
  margin-bottom: 2rem;
  margin: 20px;
}
.project-content__headline--color {
  color: var(--secondary-text-color);
  margin-bottom: 25px;
  font-size: 24px;
}
.project-content__span--fontweight {
  font-weight: 600;
}
.project-content__paragraph--fontsize {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 2.5rem;
}
.project-section__link--positioning {
  padding: 15px;

}

.project-section__button--styling {
  padding: 7px;
  margin: 3px;
  border-radius: 20px;
  border: 2px solid var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  color: var(--white);
  background-color: var(--secondary-background-color);
  text-decoration: none;
}


@media (min-width: 440px) {
  .project-card {
    flex-direction: column;
    margin: 0 auto;
  }

  .project-section__headline--space {
    margin-bottom: 3rem;
  }
}
@media (min-width: 720px) {
  .project-section {
    margin: 0 auto;
  }
  .project-card {
    flex-direction: row;
    margin: 0 auto;
    max-width: 90%;
  }
}
@media (min-width: 900px) {
  .project-card {
    max-width: 80%;
  }
}
@media (min-width: 1400px) {
  .project-card {
    flex-direction: row;
    max-width: 55%;
  }
}
